
#home{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	.main-content{
		> ul{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			@include mq(desktop, max){
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
}

#gallery{
	.scroll-item{
		width: 100vw;
		height: 100vh;
		padding: 50px 20px 20px 30px;
		@include mq(desktop-wide, min){
			padding: 100px;
		}
		@include mq(desktop, min){
		flex-direction: row;
		}
		ul{
			display: flex;
			flex-direction: column;
			li{
				margin: 5px 0;
			}
			@include mq(desktop, min){
				flex-direction: row;
				justify-content: space-around;
				margin: 10px 0;
			}
		}
		&.full-height{
			@include mq(desktop-wide, min){
			padding: 0 100px;
			}
		}
	}
	.scroll-item-container{
		position: relative;
		height: 100%;
	}
	.one-column{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.bg-img{
			height: 100%;
			flex: 0 0 100%;
		}
	}
	.two-column{
		&.text-img{
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
			@include mq(desktop, min){
			flex-direction: row;
			}
			.content{
				flex: 0.5 1 50%;
				margin: 5% 0 0 0;
				@include mq(desktop, min){
				margin: 0 0 0 5%;
				}
			}
			.bg-img{
				width: 100%;
				flex: 0 0 80%;
				height: 60%;
				@include mq(desktop, min){
				flex: 2 0 450px;
				height: 100%;
				}
			}
			&.wide-img{
				.bg-img{
					@include mq(desktop, min){
						flex: 2 2 80%;
					}
				}
				.content{
					@include mq(desktop, min){
						flex: 0.5 1 20%;
					}
				}
			}
			&.list-content{
				flex-direction: column;
				@include mq(desktop-wide, min){
					flex-direction: row;
				}
				.bg-img{
					height: 80%;
					background-size: cover;
					flex-basis: 85%;
					@include mq(desktop-wide, min){
						background-size: contain;
						flex-basis: 450px
					}
					&.contain{
						@include mq(desktop-wide, min){
						background-size: cover;
						}
					}
				}
				.content{
					flex-basis: 15%;
					width: 100%;
					@include mq(desktop-wide, min){
						flex-basis: 50%;
					}
				}
				&.reverse{
					.bg-img{
						order: 1;
					}
					.content{
						order: 2;
					}
					@include mq(desktop-wide, min){
						.bg-img{
							order: 2;
						}
						.content{
							order: 1;
						}
					}
					.bg-img{
						background-size: contain;
					}
				}
			}
			&.reverse{
				@include mq(desktop, min){
					.bg-img{
						order: 2;
					}
					.content{
						order: 1;
					}
				}
			}
		}
		&.img-img{
			display: flex;
			flex-direction: column;
			height: 80%;
			@include mq(desktop-wide, min){
				flex-direction: row;
				height: 95%;
			}
			div{
				width: 100%;
				height: 100%;
			}
			:nth-child(1){
				@include mq(desktop, min){
					width: 40%;
				}
			}
			:nth-child(2){
				@include mq(desktop, min){
					width: 60%;
				}
			}
		}
	}
}
#tile-container{
	width: 100%;
	height: 100%;
	min-height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	@include mq(desktop-wide, min){
	flex-direction: row;
	min-height: 75vh;
	}
	li{
		width: 100%;
		display: flex;
		flex: 1;
		@include mq(desktop-wide, min){
			width: 390px;
			height: auto;
		}
	}
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		@include mq(desktop-wide, min){
		height: 100%;
		}
		width: 100%;
	}
	&.two-column{
		li{
			flex: 1;
			@include mq(desktop-wide, min){
			flex: 0 0 auto;
			}
		}
	}
}

.slider-page{
	section{
		position: relative;
		z-index: 1;
		&.main-slider{
			width: 100%;
			height: 100%;
			.slick-slide{
				width: auto;
				height: 90%;
			}
			img{
				width: 100%;
				height: auto;
				margin: 0 auto;
				@include mq(desktop, min){
				width: 70%;
				}
			}
		}
	}
}
.slider-controller{
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 105%;
	display: flex;
	justify-content: center;
	@include mq(desktop, min){
	justify-content: space-between;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	}
	> div{
		margin: 0 15px;
	}
}
#scrollControl{
	position: fixed;
	z-index: 1;
	top: 200px;
	left: 10px;
	width: 6px;
	text-align: center;
	@include mq(desktop-wide, min){
		left: 40px;
	}
	&:after{
		content: '';
		width: 2px;
		height: 98%;
		background-color: $dark;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		@extend .center-both;
	}
	ul{
		width: 6px;
		height: 100%;
	}
	li{
		position: relative;
		z-index: 2;
		display: block;
		&:not(:last-child){
			margin-bottom: 50px;
		}
		&:hover{
			color: $white;
		}
	}
	.side-nav-item{
		width: 6px;
		height: 6px;
		background-color: $dark;
	}
	.animate{
		@extend .side-nav-item;
		-webkit-transform: translateX(-50%) scale(2);
		transform: translateX(-50%) scale(2);
		transform-origin: center center;
		left: 50%;
		background-color: $dark;
		position: absolute;
		z-index: 1;
		text-align: center;
	}
}