@import "variables";
@import "mixins";
@import "layout";
@import "buttons";
@import "hamburgers/hamburgers";
@import "fakeloader/fakeLoader.scss";
@import "fakeloader/spinners/spinner_07.scss";
@import "slick-theme";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Biryani:wght@300;400;800;900&display=swap');

html, body, div, h1, h2, h3, p, ul, li{
	margin:0;
	padding: 0;
}
body{
	position: relative;
	z-index: 1;
	background-color: $white;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	*{
		box-sizing: border-box;
		font-family: 'Biryani';
	}
}
main, header{
	&.is-active{
		filter: blur(6px)
	}
}
main{
	&.slider-page{
		padding: 40px 15px;
		@include mq(desktop-wide, min){
		padding: 60px 75px;
		}
	}
}
h1{
	font-size: 40px;
	font-family: 'Biryani';
	font-weight: 800;
	@include mq(desktop, min){
	font-size: 50px;
	}
}
h2{
	&.title{
		font-size: 16px;
	}
}
ul, li{
	list-style-type: none;
}
img{
	display: block;
	width: 100%;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
header{
	padding: 00px 00px 00px 80px;
	@include mq(desktop-wide, min){
		padding: 20px 20px 20px 120px;
	}
	h2{
		font-size: 20px;
		line-height: 20px;
	}
	h3{
		font-size:16px;
		line-height: 20px;
	}
	> *{
		margin: 10px;
	}
}
*:focus {
    outline: none;
}
*{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
// shared classes
.center-both{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.bg-img{
	background-repeat: no-repeat;
	background-position: center;
	&.align-right{
		background-position: right center;
	}
	&.align-left{
		background-position: left center;
	}
}
.underline{
	position: relative;
	z-index: 2;
	&:after{
		content: '';
		position: absolute;
		z-index: 1;
		background-color: $purple;
		width: 50%;
		max-width: 330px;
		height: 2px;
		bottom: -5px;
		left: -10px;
	}
	&.heading{
		&:after{
			bottom: 15px;
			height: 4px;
		}
	}
	&.animate{
		animation: animateLine 1.5s 1;
		animation-direction: forwards;
	}
}
.text-link{
	color: inherit;
	text-decoration: underline;
}
.side-nav{
	position: fixed;
	overflow-y: scroll;
	z-index: 98;
	top: 0;
	left: 0;
	height: 100%;
	padding: 100px 40px;
	background-color: $grey1;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	transition: transform 0.5s ease;
	font-family: 'Biryani';
	font-weight: 800;
	&.is-active{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	> ul{
		> li{
			margin-bottom: 50px;
			position: relative;
			z-index: 1;
			color: $white;
			&:hover{
				h2{
					letter-spacing: 3px;
				}
			}
			a{
				&.is-active{
	          		&:before{
	          			content: '';
		            	display: block;
		            	width: 6px;
		            	height: 90%;
		            	background: $white;
		            	position: absolute;
		            	z-index: 2;
		            	left: -15px;
		            	top: 0;
	          		}
	          	}
			}
			> ul{
				margin: 20px 0 0px 20px;
				> li{
					margin-bottom: 20px;
					position: relative;
					z-index: 1;
					a {
			          	display: inline-block;
			          	&:after {
			            	content: '';
			            	display: block;
			            	width: 0;
			            	height: 2px;
			            	background: $white;
			            	transition: width 0.3s;
			            	margin-top: 2px;
			          	}
			          	&:hover {
			          		h2{
			          			letter-spacing: 6px;
			          		}
			            	&:after {
			              		width: 100%;
			            	}
			          	}
			        }
				}
			}
		}
	}
	h2{
		font-weight: 800;
		transition: letter-spacing 0.5s;
	}
	h3{
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
	}
	span{
		display: block;
		font-weight: 300;
		font-size: 12px;
		line-height: 12px;
		margin-top: 5px;
	}
	a{
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
}
.hamburger{
	position: fixed;
	z-index: 99;
	padding: 5px;
	top: 10px;
	left: 10px;
	.hamburger-inner{
		transition: background-color 0.2s ease;
		&:before, &:after{
			transition: inherit;
		}
	}
	&.is-active{
		.hamburger-inner{
			background-color: $white;
			&:before, &:after{
				background-color: $white;
			}
		}
	}
	&:not(.is-active){
		background-color: #fff;
		transition: background-color 0.2s ease;
		transition-delay: 1s;
		.hamburger-inner{
			transition-delay: 1s;
			&:before, &:after{
				transition-delay: 1s;
			}
		}
	}
	@include mq(desktop-wide, min){
		top: 30px;
		left: 30px;
	}
}
#home{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	text-align: left;
	overflow-x: hidden;
	@include mq(desktop, min){
		height: 100vh;
		padding: 0;
	}
	.bg-img{
		> div{
			content: '';
			width: 500px;
			height: 100vh;
			background: url('../img/home-cover.jpg') no-repeat right top;
			background-size: auto 100vh;
			position: absolute;
			right: -100px;
			top: 20%;
			@include mq(desktop-wide, min){
			top: 0;
			right: 100px;
			}
		}
	}
	h1{
		margin: 30px 0 40px 0;
		@include mq(desktop, min){
		margin: 45px 0 60px 0;
		}
	}
	p{
		font-size: 14px;
		font-family: 'Biryani';
		font-weight: 400;
		&:not(:last-child){
			margin-bottom: 20px;
			font-size: 16px;
		}
	}
	ul{
		padding-top: 10px;
		@include mq(desktop, min){
		padding-top: 40px;
		}
	}
	.fh-bgimg{
		width: auto;
		position: absolute;
		-webkit-transform: translateX(25%);
		transform: translateX(25%);
		height: 100%;
		right: 0;
		top: 0;
	}
	.main-content{
		width: 85%;
		z-index: 1;
		background-color: rgba(255, 255, 255, 0.6);
		padding: 70px 70px 70px 20px;
		@include mq(desktop-wide, min){
			width: 50%;
			// padding: 0;
			// padding-left: 150px;
			padding: 100px 40px 40px 150px;
		}
		// @include mq(desktop, max){
		// 	padding: 100px 40px 40px 40px;
		// }
		> ul{
			li{
				margin: 15px;
				position: relative;
				z-index: 1;
				background-color: rgba(255, 255, 255, 0);
				transition: color 0.3s ease;
				cursor: pointer;
				span{
					position: relative;
					z-index: 2;
				}
				.underline{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					&:after{
						transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease;
					}
				}
				&:hover{
					color: $white;
					.underline{
						&:after{
							width: 100%;
							height: 100%;
							padding: 5px 10px;
							border-radius: 2px;
						}
					}
				}
			}
			i{
				padding-right: 8px;
				display: inline;
				position: relative;
				z-index: 2;
			}
		}
	}
}
#gallery{
	.bg-img{
		background-size: cover;
		&.contain{
			background-size: contain;
		}
	}
	.note{
		position: absolute;
		z-index: 2;
	}
}

#gallery_home{
	#tile-container{
		li{
			&:nth-child(1){
				background-image: url('../img/gallery/thumb-balcony.jpg');
				@include mq(desktop-wide, min){
					background-image: url('../img/gallery/balcony/balcony-1.jpg');
				}
			}
			&:nth-child(2){
				background-image: url('../img/gallery/thumb-hallway.jpg');
				@include mq(desktop-wide, min){
					background-image: url('../img/gallery/hallway/hallway-1.jpg');
				}
			}
			&:nth-child(3){
				background-image: url('../img/gallery/thumb-stairwell.jpg');
				@include mq(desktop-wide, min){
					background-image: url('../img/gallery/stairwell/stairwell-1.jpg');
				}
			}
		}
	}
}

#portfolio_home{
	#tile-container{
		li{
			&:nth-child(1){
				background-image: url('../img/portfolio/can-you-see-me-now/menswear/5.jpg');
			}
			&:nth-child(2){
				background-image: url('../img/portfolio/can-you-see-me-now/womenswear/7.jpg');
			}
		}
	}
}

.tile-page{
	min-height: 100vh;
	padding: 5px 15px;
	text-align: center;
	@include mq(desktop, min){
		padding: 20px 100px;
	}
	h1{
		display: inline-block;
	}
	p{
		margin-top: 10px;
	}
	li{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include mq(desktop-wide, min){
		background-size: auto 100%;
		}
	}
}

#tile-container{
	@include mq(desktop-wide, min){
	margin: 30px;
	}
	li{
		margin: 10px 0px;
		@include mq(desktop-wide, min){
		margin: 10px 40px;
		}
	}
	a{
		color: $white;
		background-color: rgba(0,0,0, 0.5);
		text-decoration: none;
		transition: background-color 0.3s ease;
		@include mq(desktop-wide, min){
			&:hover{
				background-color: rgba(0,0,0, 0.3);
				h2{
					color: $dark;
					font-size: 18px;
					&:after{
						width: 100%;
						height: 100%;
						padding: 5px 10px;
						border-radius: 2px;
						z-index: 1;
					}
				}
			}
		}
	}
	h2{
		font-size: 28px;
		transition: color 0.3s ease, font-size 0.3s ease, line-height 0.3s ease;
		@extend .underline;
		&:after{
			background-color: $white;
			transition: width 0.3s ease, height 0.3s ease;
		}
		span{
			position: relative;
			z-index: 2;
		}
		@include mq(desktop-wide, min){
		font-size: 20px;
		}
	}
}

.slider-controller{
	.prev, .next{
		cursor: pointer;
		font-size: 30px;
		@include mq(desktop, max){
			font-size: 20px;
		}
	}
}

.scroll-item-container{
	font-size: 13px;
}

@keyframes animateLine {
  from {width: 0px;}
  to {width: 100%;}
}