@import "variables";
@import "layout";
@import "buttons";
@import "hamburgers/hamburgers";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

html, body, div, h1, h2, h3, p, ul, li{
	margin:0;
	padding: 0;
}
body{
	position: relative;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	height: 100%;
	*{
		box-sizing: border-box;
	}
}
main{
	padding: 100px;
}
img{
	display: block;
	width: 100%;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
.main-slider{
	width: 100%;
	max-width: 1290px;
	.slick-slide{
		width: 100%;
		max-width: 1290px;
	}
}
.thumb-slider-container{
	position: relative;
	margin-top: 50px;
	z-index: 1;
	.prev, .next{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 2;
		font-size: 30px;
	}
	.prev{
		left: 0;
	}
	.next{
		right: 0;
	}
}
.main-slider{
	.slick-slide{
		width: 100%;
		max-width: 2480px;
		height: auto;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.thumb-slider{
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
	overflow-x: hidden;
	.slick-slide{
		width: 125px;
		height: 125px;
		margin: 0 5px;
		outline: 0;
		transition: transform 0.2s ease;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		&:not(.slick-current){
			transform: scale(0.6);
		}
		&.slick-current{
			transform: scale(1);
		}
	}
	.slick-list{
		width: 90%;
		margin: 0 auto;
	}
}
.side-nav{
	position: fixed;
	z-index: 98;
	top: 0;
	left: 0;
	height: 100%;
	padding: 100px 40px;
	background-color: rgba(0,0,0,0.05);
	transform: translateX(-100%);
	transition: transform 0.5s ease;
	font-family: 'Montserrat', sans-serif;
	&.is-active{
		transform: translateX(0);
	}
	ul, li{
		list-style-type: none;
	}
	> ul{
		> li{
			margin-bottom: 50px;
			&:hover{
				h2{
					letter-spacing: 3px;
				}
			}
			> ul{
				margin: 20px 0 0px 20px;
				> li{
					margin-bottom: 20px;
					a {
			          	display: inline-block;
			          	&:after {
			            	content: '';
			            	display: block;
			            	width: 0;
			            	height: 4px;
			            	background: #000;
			            	transition: width 0.3s;
			          	}
			          	&:hover {
			            	&:after {
			              	width: 100%;
			            	}
			          	}
			        }
				}
			}
		}
	}
	h2{
		font-weight: 900;
		letter-spacing: 6px;
		transition: letter-spacing 0.5s;
	}
	h3{
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
	}
	span{
		display: block;
		font-weight: 900;
		font-size: 14px;
		line-height: 14px;
		margin-top: 5px;
	}
	a{
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
}
.hamburger{
	position: fixed;
	z-index: 99;
	top: 40px;
	left: 40px;
	padding: 0;
}